<!-- Footer Start -->
<div class="container-fluid bg-dark pt-5 px-sm-3 px-md-5 mt-5">
    <div class="row py-4">
        <div class="col-lg-3 col-md-6 mb-5">
            <h5 class="mb-4 text-white text-uppercase font-weight-bold">Get In Touch</h5>
            <p class="font-weight-medium"><i class="fa fa-map-marker-alt mr-2"></i>{{ contact.location }}</p>
            <p class="font-weight-medium"><i class="fa fa-phone-alt mr-2"></i>{{ contact.phone_number }}</p>
            <p class="font-weight-medium"><i class="fa fa-envelope mr-2"></i>{{ contact.email }}</p>
            <h6 class="mt-4 mb-3 text-white text-uppercase font-weight-bold">Follow Us</h6>
            <div class="d-flex justify-content-start">
                <a class="btn btn-lg btn-secondary btn-lg-square mr-2" href="https://www.instagram.com/mars_it_school"><i class="fab fa-instagram"></i></a>
                <a class="btn btn-lg btn-secondary btn-lg-square mr-2" href="https://t.me/mars_it_school"><i class="fab fa-telegram"></i></a>
                <a class="btn btn-lg btn-secondary btn-lg-square" href="https://www.youtube.com/@marsitschool7823"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <h5 class="mb-4 text-white text-uppercase font-weight-bold">Categories</h5>
            <div class="m-n1">
                {% for i in tags %}
                <a href="{% url 'tag_news' i.slug %}" class="btn btn-sm btn-secondary m-1">{{ i.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="container-fluid py-4 px-sm-3 px-md-5" style="background: #111111;">
    <p class="m-0 text-center">&copy; <a href="#">Your Site Name</a>. All Rights Reserved. 
    
    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
    Design by <a href="https://htmlcodex.com">HTML Codex</a></p>
</div>
<!-- Footer End -->