<!-- Topbar Start -->
<div class="container-fluid d-none d-lg-block">
    <div class="row align-items-center bg-dark px-lg-5">
        <div class="col-lg-9">
            <nav class="navbar navbar-expand-sm bg-dark p-0">
                <ul class="navbar-nav ml-n2">
                    <li class="nav-item border-right border-secondary">
                        <a class="nav-link text-body small" href="{% url 'home' %}">{{ date }}</a>
                    </li>
                    <li class="nav-item border-right border-secondary">
                        <a class="nav-link text-body small" href="{% url 'contact' %}">Contact</a>
                    </li>
                    <li class="nav-item">
                        {% if not request.user.is_authenticated %}
                        <a class="nav-link text-body small" href="{% url 'login' %}">Login | Register</a>
                        {% else %}
                        <a class="nav-link text-body small" href="{% url 'account' %}">Account</a>
                        {% endif %}
                    </li>
                    {% if request.user.is_superuser %}
                    <li class="nav-item border-left border-secondary">
                        <a class="nav-link text-body small" href="/admin">Admin</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 text-right d-none d-md-block">
            <nav class="navbar navbar-expand-sm bg-dark p-0">
                <ul class="navbar-nav ml-auto mr-n2">
                    <li class="nav-item">
                        <a class="nav-link text-body" href="https://t.me/mars_it_school"><small class="fab fa-telegram"></small></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-body" href="https://www.instagram.com/mars_it_school"><small class="fab fa-instagram"></small></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-body" href="https://www.youtube.com/@marsitschool7823"><small class="fab fa-youtube"></small></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row align-items-center bg-white py-3 px-lg-5">
        <div class="col-lg-4">
            <a href="{% url 'home' %}" class="navbar-brand p-0 d-none d-lg-block">
                <h1 class="m-0 display-4 text-uppercase text-primary">Biz<span class="text-secondary font-weight-normal">News</span></h1>
            </a>
        </div>
        <div class="col-lg-8 text-center text-lg-right">
            <a href="https://htmlcodex.com"><img class="img-fluid" src="img/ads-728x90.png" alt=""></a>
        </div>
    </div>
</div>
<!-- Topbar End -->


<!-- Navbar Start -->
<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-2 py-lg-0 px-lg-5">
        <a href="index.html" class="navbar-brand d-block d-lg-none">
            <h1 class="m-0 display-4 text-uppercase text-primary">Biz<span class="text-white font-weight-normal">News</span></h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between px-0 px-lg-3" id="navbarCollapse">
            <div class="navbar-nav mr-auto py-0">
                <a href="{% url 'home' %}" class="nav-item nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}">Home</a>
                <a href="{% url 'news' %}" class="nav-item nav-link {% if request.resolver_match.url_name == 'news' %}active{% elif request.resolver_match.url_name == 'tag_news' %}active{% endif %}">All news</a>
                <a href="{% url 'contact' %}" class="nav-item nav-link {% if request.resolver_match.url_name == 'contact' %}active{% endif %}">Contact</a>
            </div>
            <form {% if request.resolver_match.url_name != "news" and request.resolver_match.url_name != "tag_news" %}action="{% url 'news' %}"{% endif %} method="get" class="input-group ml-auto d-none d-lg-flex" style="width: 100%; max-width: 300px;">
                <input name="q" value="{{ active_search }}" type="text" class="form-control border-0" placeholder="Keyword">
                <div class="input-group-append">
                    <button type="submit" class="input-group-text bg-primary text-dark border-0 px-3"><i
                            class="fa fa-search"></i></button>
                </div>
            </form>
        </div>
    </nav>
</div>
<!-- Navbar End -->