{% extends 'base.html' %}


{% block title %}
<title>Login page</title>
{% endblock %}


{% block content %}
{% load static %}
<div class="container-fluid mt-5 pt-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title mb-0">
                    <h3 class="m-0 font-weight-bold">My account</h3>
                </div>
                <div class="bg-white d-flex flex-column border border-top-0 p-4 mb-0">
                    <div class="w-25 d-flex justify-content-center align-items-center" style="aspect-ratio: 1;">
                        <form method="post" class="w-75 h-75 position-relative">
                            <img class="w-100 h-100 rounded-circle" style="object-fit: cover; border: 5px solid #FFCC00;" src="/media/news/news-700x435-1.jpg" alt="">
                            <button style="right: 0; bottom: 0;" class="w-25 h-25 position-absolute btn btn-primary rounded-circle d-flex align-items-center justify-content-center"><i style="font-size: 24px;" class="fa fa-file-image"></i></button>
                        </form>
                    </div>
                    <div class="w-25">
                        <h5>{{ request.user.username }}</h5>
                        <h5>{{ request.user.email }}</h5>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>
<script>
    function show_password(btn) {
        let input = btn.previousElementSibling
        if (btn.classList[1] == 'fa-eye') {
            btn.classList.remove('fa-eye')
            btn.classList.add('fa-eye-slash')
            input.type = 'text'
        } else {
            btn.classList.remove('fa-eye-slash')
            btn.classList.add('fa-eye')
            input.type = 'password'
        }
    }
</script>
{% endblock %}