{% extends 'base.html' %}


{% block title %}
<title>Home page</title>
{% endblock %}


{% block content %}
<!-- Main News Slider Start -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-7 px-0">
            <div class="owl-carousel main-carousel position-relative">
                {% if tranding_news.0 %}
                <div class="position-relative overflow-hidden" style="height: 500px;">
                    <img class="img-fluid h-100" src="/media/{{ tranding_news.0.image }}" style="object-fit: cover;">
                    <div class="overlay">
                        <div class="mb-2">
                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                href="{% url 'tag_news' tranding_news.0.tag.slug %}">{{ tranding_news.0.tag.name }}</a>
                            <a class="text-white" href="">{{ tranding_news.0.date }}</a>
                        </div>
                        <a class="h2 m-0 text-white text-uppercase font-weight-bold" style="max-height: 76px; overflow: hidden;" href="{% url 'detail' tranding_news.0.slug %}">{{ tranding_news.0.title }}</a>
                    </div>
                </div>
                {% endif %}
                {% if tranding_news.1 %}
                <div class="position-relative overflow-hidden" style="height: 500px;">
                    <img class="img-fluid h-100" src="/media/{{ tranding_news.1.image }}" style="object-fit: cover;">
                    <div class="overlay">
                        <div class="mb-2">
                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                href="{% url 'tag_news' tranding_news.1.tag.slug %}">{{ tranding_news.1.tag.name }}</a>
                            <a class="text-white" href="">{{ tranding_news.1.date }}</a>
                        </div>
                        <a class="h2 m-0 text-white text-uppercase font-weight-bold" style="max-height: 76px; overflow: hidden;" href="{% url 'detail' tranding_news.1.slug %}">{{ tranding_news.1.title }}</a>
                    </div>
                </div>
                {% endif %}
                {% if tranding_news.2 %}
                <div class="position-relative overflow-hidden" style="height: 500px;">
                    <img class="img-fluid h-100" src="/media/{{ tranding_news.2.image }}" style="object-fit: cover;">
                    <div class="overlay">
                        <div class="mb-2">
                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                href="{% url 'tag_news' tranding_news.2.tag.slug %}">{{ tranding_news.2.tag.name }}</a>
                            <a class="text-white" href="">{{ tranding_news.2.date }}</a>
                        </div>
                        <a class="h2 m-0 text-white text-uppercase font-weight-bold" style="max-height: 76px; overflow: hidden;" href="{% url 'detail' tranding_news.2.slug %}">{{ tranding_news.2.title }}</a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-5 px-0">
            <div class="row mx-0">
                {% if tranding_news.3 %}
                <div class="col-md-6 px-0">
                    <div class="position-relative overflow-hidden" style="height: 250px;">
                        <img class="img-fluid w-100 h-100" src="/media/{{ tranding_news.3.image }}" style="object-fit: cover;">
                        <div class="overlay">
                            <div class="mb-2">
                                <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                    href="{% url 'tag_news' tranding_news.3.tag.slug %}">{{ tranding_news.3.tag.name }}</a>
                                <a class="text-white" href=""><small>{{ tranding_news.3.date }}</small></a>
                            </div>
                            <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" style="max-height: 38px; overflow: hidden;" href="{% url 'detail' tranding_news.3.slug %}">{{ tranding_news.3.title }}</a>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if tranding_news.4 %}
                <div class="col-md-6 px-0">
                    <div class="position-relative overflow-hidden" style="height: 250px;">
                        <img class="img-fluid w-100 h-100" src="/media/{{ tranding_news.4.image }}" style="object-fit: cover;">
                        <div class="overlay">
                            <div class="mb-2">
                                <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                    href="{% url 'tag_news' tranding_news.4.tag.slug %}">{{ tranding_news.4.tag.name }}</a>
                                <a class="text-white" href=""><small>{{ tranding_news.4.date }}</small></a>
                            </div>
                            <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" style="max-height: 38px; overflow: hidden;" href="{% url 'detail' tranding_news.4.slug %}">{{ tranding_news.4.title }}</a>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if tranding_news.5 %}
                <div class="col-md-6 px-0">
                    <div class="position-relative overflow-hidden" style="height: 250px;">
                        <img class="img-fluid w-100 h-100" src="/media/{{ tranding_news.5.image }}" style="object-fit: cover;">
                        <div class="overlay">
                            <div class="mb-2">
                                <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                    href="{% url 'tag_news' tranding_news.5.tag.slug %}">{{ tranding_news.5.tag.name }}</a>
                                <a class="text-white" href=""><small>{{ tranding_news.5.date }}</small></a>
                            </div>
                            <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" style="max-height: 38px; overflow: hidden;" href="{% url 'detail' tranding_news.5.slug %}">{{ tranding_news.5.title }}</a>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if tranding_news.6 %}
                <div class="col-md-6 px-0">
                    <div class="position-relative overflow-hidden" style="height: 250px;">
                        <img class="img-fluid w-100 h-100" src="/media/{{ tranding_news.6.image }}" style="object-fit: cover;">
                        <div class="overlay">
                            <div class="mb-2">
                                <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                    href="{% url 'tag_news' tranding_news.6.tag.slug %}">{{ tranding_news.6.tag.name }}</a>
                                <a class="text-white" href=""><small>{{ tranding_news.6.date }}</small></a>
                            </div>
                            <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" style="max-height: 38px; overflow: hidden;" href="{% url 'detail' tranding_news.6.slug %}">{{ tranding_news.6.title }}</a>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- Main News Slider End -->


<!-- Breaking News Start -->
<div class="container-fluid bg-dark py-3 mb-3">
    <div class="container">
        <div class="row align-items-center bg-dark">
            <div class="col-12">
                <div class="d-flex justify-content-between">
                    <div class="bg-primary text-dark text-center font-weight-medium py-2" style="width: 170px;">Breaking News</div>
                    <div class="owl-carousel tranding-carousel position-relative d-inline-flex align-items-center ml-3"
                        style="width: calc(100% - 170px); padding-right: 90px;">
                        {% if tranding_news.7 %}
                        <div class="text-truncate"><a class="text-white text-uppercase font-weight-semi-bold" href="{% url 'detail' tranding_news.7.slug %}">{{ tranding_news.7.title }}</a></div>
                        {% endif %}
                        {% if tranding_news.8 %}
                        <div class="text-truncate"><a class="text-white text-uppercase font-weight-semi-bold" href="{% url 'detail' tranding_news.8.slug %}">{{ tranding_news.8.title }}</a></div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breaking News End -->


<!-- Featured News Slider Start -->
<div class="container-fluid pt-5 mb-3">
    <div class="container">
        <div class="section-title">
            <h4 class="m-0 text-uppercase font-weight-bold">Featured News</h4>
        </div>
        <div class="owl-carousel news-carousel carousel-item-4 position-relative">
            {% if tranding_news.9 %}
            <div class="position-relative overflow-hidden" style="height: 300px;">
                <img class="img-fluid h-100" src="/media/{{ tranding_news.9.image }}" style="object-fit: cover;">
                <div class="overlay">
                    <div class="mb-2">
                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                            href="{% url 'tag_news' tranding_news.9.tag.slug %}">{{ tranding_news.9.tag.name }}</a>
                        <a class="text-white" href=""><small>{{ tranding_news.9.date }}</small></a>
                    </div>
                    <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" style="max-height: 38px; overflow: hidden;" href="">{{ tranding_news.9.title }}</a>
                </div>
            </div>
            {% endif %}
            {% if tranding_news.10 %}
            <div class="position-relative overflow-hidden" style="height: 300px;">
                <img class="img-fluid h-100" src="/media/{{ tranding_news.10.image }}" style="object-fit: cover;">
                <div class="overlay">
                    <div class="mb-2">
                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                            href="{% url 'tag_news' tranding_news.10.tag.slug %}">{{ tranding_news.10.tag.name }}</a>
                        <a class="text-white" href=""><small>{{ tranding_news.10.date }}</small></a>
                    </div>
                    <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" style="max-height: 38px; overflow: hidden;" href="{% url 'detail' tranding_news.10.slug %}">{{ tranding_news.10.title }}</a>
                </div>
            </div>
            {% endif %}
            {% if tranding_news.11 %}
            <div class="position-relative overflow-hidden" style="height: 300px;">
                <img class="img-fluid h-100" src="/media/{{ tranding_news.11.image }}" style="object-fit: cover;">
                <div class="overlay">
                    <div class="mb-2">
                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                            href="{% url 'tag_news' tranding_news.11.tag.slug %}">{{ tranding_news.11.tag.name }}</a>
                        <a class="text-white" href=""><small>{{ tranding_news.11.date }}</small></a>
                    </div>
                    <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" style="max-height: 38px; overflow: hidden;" href="{% url 'detail' tranding_news.11.slug %}">{{ tranding_news.11.title }}</a>
                </div>
            </div>
            {% endif %}
            {% if tranding_news.12 %}
            <div class="position-relative overflow-hidden" style="height: 300px;">
                <img class="img-fluid h-100" src="/media/{{ tranding_news.12.image }}" style="object-fit: cover;">
                <div class="overlay">
                    <div class="mb-2">
                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                            href="{% url 'tag_news' tranding_news.12.tag.slug %}">{{ tranding_news.12.tag.name }}</a>
                        <a class="text-white" href=""><small>{{ tranding_news.12.date }}</small></a>
                    </div>
                    <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" style="max-height: 38px; overflow: hidden;" href="{% url 'detail' tranding_news.12.slug %}">{{ tranding_news.12.title }}</a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- Featured News Slider End -->


<!-- News With Sidebar Start -->
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title">
                            <h4 class="m-0 text-uppercase font-weight-bold">Latest News</h4>
                            <a class="text-secondary font-weight-medium text-decoration-none" href="{% url 'news' %}">View All</a>
                        </div>
                    </div>
                    {% for i in latest_news %}
                    {% if i.0 %}
                        <div class="col-lg-6">
                            <div class="position-relative mb-3">
                                <img class="img-fluid w-100" src="/media/{{ i.0.image }}" style="object-fit: cover; height: 225px;">
                                <div class="bg-white border border-top-0 p-4">
                                    <div class="mb-2">
                                        <button class="btn badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2">{{ i.0.tag.name }}</button>
                                        <a class="text-body" href=""><small>{{ i.0.date }}</small></a>
                                    </div>
                                    <a class="h4 d-block mb-3 text-secondary text-uppercase font-weight-bold" href="{% url 'detail' i.0.slug %}" style="max-height: 58px; overflow-y: hidden;">{{ i.0.title }}</a>
                                    <p class="m-0" style="max-height: 72px; overflow-y: hidden;">{{ i.0.text }}</p>
                                </div>
                                <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                                    <div class="d-flex align-items-center">
                                        <img class="rounded-circle mr-2" src="/media/{{ i.0.author.image }}" width="25" height="25" alt="">
                                        <small>{{ i.0.author.user.username }}</small>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <small class="ml-3"><i class="far fa-eye mr-2"></i>{{ i.0.views }}</small>
                                        <small class="ml-3"><i class="far fa-comment mr-2"></i>{{ i.0.comments }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if i.1 %}
                        <div class="col-lg-6">
                            <div class="position-relative mb-3">
                                <img class="img-fluid w-100" src="/media/{{ i.1.image }}" style="object-fit: cover; height: 225px;">
                                <div class="bg-white border border-top-0 p-4">
                                    <div class="mb-2">
                                        <button class="btn badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2">{{ i.1.tag.name }}</button>
                                        <a class="text-body" href=""><small>{{ i.1.date }}</small></a>
                                    </div>
                                    <a class="h4 d-block mb-3 text-secondary text-uppercase font-weight-bold" href="{% url 'detail' i.1.slug %}" style="max-height: 58px; overflow-y: hidden;">{{ i.1.title }}</a>
                                    <p class="m-0" style="max-height: 72px; overflow-y: hidden;">{{ i.1.text }}</p>
                                </div>
                                <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                                    <div class="d-flex align-items-center">
                                        <img class="rounded-circle mr-2" src="/media/{{ i.1.author.image }}" width="25" height="25" alt="">
                                        <small>{{ i.1.author.user.username }}</small>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <small class="ml-3"><i class="far fa-eye mr-2"></i>{{ i.1.views }}</small>
                                        <small class="ml-3"><i class="far fa-comment mr-2"></i>{{ i.1.comments }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if i.2 %}
                        <div class="col-lg-6">
                            <div class="position-relative mb-3">
                                <img class="img-fluid w-100" src="/media/{{ i.2.image }}" style="object-fit: cover; height: 225px;">
                                <div class="bg-white border border-top-0 p-4">
                                    <div class="mb-2">
                                        <button class="btn badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2">{{ i.2.tag.name }}</button>
                                        <a class="text-body" href=""><small>{{ i.2.date }}</small></a>
                                    </div>
                                    <a class="h4 d-block mb-3 text-secondary text-uppercase font-weight-bold" href="{% url 'detail' i.2.slug %}" style="max-height: 58px; overflow-y: hidden;">{{ i.2.title }}</a>
                                    <p class="m-0" style="max-height: 72px; overflow-y: hidden;">{{ i.2.text }}</p>
                                </div>
                                <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                                    <div class="d-flex align-items-center">
                                        <img class="rounded-circle mr-2" src="/media/{{ i.2.author.image }}" width="25" height="25" alt="">
                                        <small>{{ i.2.author.user.username }}</small>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <small class="ml-3"><i class="far fa-eye mr-2"></i>{{ i.2.views }}</small>
                                        <small class="ml-3"><i class="far fa-comment mr-2"></i>{{ i.2.comments }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if i.3 %}
                        <div class="col-lg-6">
                            <div class="position-relative mb-3">
                                <img class="img-fluid w-100" src="/media/{{ i.3.image }}" style="object-fit: cover; height: 225px;">
                                <div class="bg-white border border-top-0 p-4">
                                    <div class="mb-2">
                                        <button class="btn badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2">{{ i.3.tag.name }}</button>
                                        <a class="text-body" href=""><small>{{ i.3.date }}</small></a>
                                    </div>
                                    <a class="h4 d-block mb-3 text-secondary text-uppercase font-weight-bold" href="{% url 'detail' i.3.slug %}" style="max-height: 58px; overflow-y: hidden;">{{ i.3.title }}</a>
                                    <p class="m-0" style="max-height: 72px; overflow-y: hidden;">{{ i.3.text }}</p>
                                </div>
                                <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                                    <div class="d-flex align-items-center">
                                        <img class="rounded-circle mr-2" src="/media/{{ i.3.author.image }}" width="25" height="25" alt="">
                                        <small>{{ i.3.author.user.username }}</small>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <small class="ml-3"><i class="far fa-eye mr-2"></i>{{ i.3.views }}</small>
                                        <small class="ml-3"><i class="far fa-comment mr-2"></i>{{ i.3.comments }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="col-lg-6">
                        {% if i.4 %}
                        <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                            <img class="img-fluid" style="width: 110px; height: 110px; object-fit: cover;" src="/media/{{ i.4.image }}" alt="">
                            <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                <div class="mb-2">
                                    <button class="btn badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2">{{ i.4.tag.name }}</button>
                                    <a class="text-body" href=""><small>{{ i.4.date }}</small></a>
                                </div>
                                <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="{% url 'detail' i.4.slug %}" style="max-height: 40px; overflow-y: hidden;">{{ i.4.title }}</a>
                            </div>
                        </div>
                        {% endif %}
                        {% if i.5 %}
                        <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                            <img class="img-fluid" style="width: 110px; height: 110px; object-fit: cover;" src="/media/{{ i.5.image }}" alt="">
                            <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                <div class="mb-2">
                                    <button class="btn badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2">{{ i.5.tag.name }}</button>
                                    <a class="text-body" href=""><small>{{ i.5.date }}</small></a>
                                </div>
                                <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="{% url 'detail' i.5.slug %}" style="max-height: 40px; overflow-y: hidden;">{{ i.5.title }}</a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-lg-6">
                        {% if i.6 %}
                        <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                            <img class="img-fluid" style="width: 110px; height: 110px; object-fit: cover;" src="/media/{{ i.6.image }}" alt="">
                            <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                <div class="mb-2">
                                    <button class="btn badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2">{{ i.6.tag.name }}</button>
                                    <a class="text-body" href=""><small>{{ i.6.date }}</small></a>
                                </div>
                                <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="{% url 'detail' i.6.slug %}" style="max-height: 40px; overflow-y: hidden;">{{ i.6.title }}</a>
                            </div>
                        </div>
                        {% endif %}
                        {% if i.7 %}
                        <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                            <img class="img-fluid" style="width: 110px; height: 110px; object-fit: cover;" src="/media/{{ i.7.image }}" alt="">
                            <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                <div class="mb-2">
                                    <button class="btn badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2">{{ i.7.tag.name }}</button>
                                    <a class="text-body" href=""><small>{{ i.7.date }}</small></a>
                                </div>
                                <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="{% url 'detail' i.7.slug %}" style="max-height: 40px; overflow-y: hidden;">{{ i.7.title }}</a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    {% if i.8 %}
                        <div class="col-lg-12">
                            <div class="row news-lg mx-0 mb-3">
                                <div class="col-md-6 h-100 px-0">
                                    <img class="img-fluid h-100" src="/media/{{ i.8.image }}" style="object-fit: cover;">
                                </div>
                                <div class="col-md-6 d-flex flex-column border bg-white h-100 px-0">
                                    <div class="mt-auto p-4">
                                        <div class="mb-2">
                                            <button class="btn badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2">{{ i.8.tag.name }}</button>
                                            <a class="text-body" href=""><small>{{ i.8.date }}</small></a>
                                        </div>
                                        <a class="h4 d-block mb-3 text-secondary text-uppercase font-weight-bold" style="max-height: 58px; overflow-y: hidden;" href="{% url 'detail' i.8.slug %}">{{ i.8.title }}</a>
                                        <p class="m-0" style="max-height: 72px; overflow-y: hidden;">{{ i.8.text }}</p>
                                    </div>
                                    <div class="d-flex justify-content-between bg-white border-top mt-auto p-4">
                                        <div class="d-flex align-items-center">
                                            <img class="rounded-circle mr-2" src="/media/{{ i.8.author.image }}" width="25" height="25" alt="">
                                            <small>{{ i.8.author.user.username }}</small>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <small class="ml-3"><i class="far fa-eye mr-2"></i>{{ i.8.views }}</small>
                                            <small class="ml-3"><i class="far fa-comment mr-2"></i>{{ i.8.comments }}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="col-lg-6">
                        {% if i.9 %}
                        <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                            <img class="img-fluid" style="width: 110px; height: 110px; object-fit: cover;" src="/media/{{ i.9.image }}" alt="">
                            <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                <div class="mb-2">
                                    <button class="btn badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2">{{ i.9.tag.name }}</button>
                                    <a class="text-body" href=""><small>{{ i.9.date }}</small></a>
                                </div>
                                <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="{% url 'detail' i.9.slug %}" style="max-height: 40px; overflow-y: hidden;">{{ i.9.title }}</a>
                            </div>
                        </div>
                        {% endif %}
                        {% if i.10 %}
                        <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                            <img class="img-fluid" style="width: 110px; height: 110px; object-fit: cover;" src="/media/{{ i.10.image }}" alt="">
                            <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                <div class="mb-2">
                                    <button class="btn badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2">{{ i.10.tag.name }}</button>
                                    <a class="text-body" href=""><small>{{ i.10.date }}</small></a>
                                </div>
                                <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="{% url 'detail' i.10.slug %}" style="max-height: 40px; overflow-y: hidden;">{{ i.10.title }}</a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-lg-6">
                        {% if i.11 %}
                        <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                            <img class="img-fluid" style="width: 110px; height: 110px; object-fit: cover;" src="/media/{{ i.11.image }}" alt="">
                            <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                <div class="mb-2">
                                    <button class="btn badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2">{{ i.11.tag.name }}</button>
                                    <a class="text-body" href=""><small>{{ i.11.date }}</small></a>
                                </div>
                                <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="{% url 'detail' i.11.slug %}" style="max-height: 40px; overflow-y: hidden;">{{ i.11.title }}</a>
                            </div>
                        </div>
                        {% endif %}
                        {% if i.12 %}
                        <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                            <img class="img-fluid" style="width: 110px; height: 110px; object-fit: cover;" src="/media/{{ i.12.image }}" alt="">
                            <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                <div class="mb-2">
                                    <button class="btn badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2">{{ i.12.tag.name }}</button>
                                    <a class="text-body" href=""><small>{{ i.12.date }}</small></a>
                                </div>
                                <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="{% url 'detail' i.12.slug %}" style="max-height: 40px; overflow-y: hidden;">{{ i.12.title }}</a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
            
            <div class="col-lg-4">
                <!-- Tags Start -->
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">Tags</h4>
                    </div>
                    <div class="bg-white border border-top-0 p-3">
                        <div class="d-flex flex-wrap m-n1">
                            {% for i in tags %}
                            {% if active_search == "" %}
                            <a id="tag_{{ i.name }}" href="{% if active_tag != i.slug %}{% url 'tag_news' i.slug %}{% else %}{% url 'news' %}{% endif %}" class="btn btn-sm btn{% if active_tag != i.slug %}-outline{% endif %}-secondary m-1">{{ i.name }}</a>
                            {% else %}
                            <a id="tag_{{ i.name }}" href="{% if active_tag != i.slug %}{% url 'tag_news' i.slug %}{% else %}{% url 'news' %}{% endif %}?q={{ active_search }}" class="btn btn-sm btn{% if active_tag != i.slug %}-outline{% endif %}-secondary m-1">{{ i.name }}</a>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- Tags End -->

                <!-- Social Follow Start -->
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">Follow Us</h4>
                    </div>
                    <div class="bg-white border border-top-0 p-3">
                        <a target="_blank" href="https://t.me/mars_it_school" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #52AAF4;">
                            <i class="fab fa-telegram text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            <span class="font-weight-medium">1,500 Followers</span>
                        </a>
                        <a target="_blank" href="https://www.instagram.com/mars_it_school/" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #C8359D;">
                            <i class="fab fa-instagram text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            <span class="font-weight-medium">30,000 Followers</span>
                        </a>
                        <a target="_blank" href="https://www.youtube.com/@marsitschool7823" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #DC472E;">
                            <i class="fab fa-youtube text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            <span class="font-weight-medium">1,500 Subscribers</span>
                        </a>
                    </div>
                </div>
                <!-- Social Follow End -->

                <!-- Popular News Start -->
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">Tranding News</h4>
                    </div>
                    <div class="bg-white border border-top-0 p-3">
                        {% for i in tranding_news_5 %}
                        <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                            <img style="width: 110px; height: 110px; object-fit: cover;" class="img-fluid" src="/media/{{ i.image }}" alt="">
                            <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                <div class="mb-2">
                                    <button class="btn badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2">{{ i.tag }}</button>
                                    <a class="text-body" href=""><small>{{ i.date }}</small></a>
                                </div>
                                <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="{% url 'detail' i.slug %}" style="max-height: 34px; overflow-y: hidden;">{{ i.title }}</a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- Popular News End -->

                <!-- Newsletter Start -->
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">Newsletter</h4>
                    </div>
                    <div class="bg-white text-center border border-top-0 p-3">
                        <p>Aliqu justo et labore at eirmod justo sea erat diam dolor diam vero kasd</p>
                        <div class="input-group mb-2" style="width: 100%;">
                            <input type="text" class="form-control form-control-lg" placeholder="Your Email">
                            <div class="input-group-append">
                                <button class="btn btn-primary font-weight-bold px-3">Sign Up</button>
                            </div>
                        </div>
                        <small>Lorem ipsum dolor sit amet elit</small>
                    </div>
                </div>
                <!-- Newsletter End -->
            </div>
        </div>
    </div>
</div>
<!-- News With Sidebar End -->
{% endblock %}