{% extends 'base.html' %}


{% block title %}
<title>{{ article.title }}</title>
{% endblock %}


{% block content %}
{% load static %}
<!-- Breaking News Start -->
<div class="container-fluid mt-5 mb-3 pt-3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="d-flex justify-content-between">
                    <div class="section-title border-right-0 mb-0" style="width: 180px;">
                        <h4 class="m-0 text-uppercase font-weight-bold">Tranding</h4>
                    </div>
                    <div class="owl-carousel tranding-carousel position-relative d-inline-flex align-items-center bg-white border border-left-0"
                        style="width: calc(100% - 180px); padding-right: 100px;">
                        {% for i in tranding_news %}
                        <div class="text-truncate"><a class="text-secondary text-uppercase font-weight-semi-bold" href="{% url 'detail' i.slug %}">{{ i.title }}</a></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breaking News End -->


<!-- News With Sidebar Start -->
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <!-- News Detail Start -->
                <div class="position-relative mb-3">
                    <img class="img-fluid w-100" src="/media/{{ article.image }}" style="object-fit: cover;">
                    <div class="bg-white border border-top-0 p-4">
                        <div class="mb-3">
                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                href="{% url 'tag_news' article.tag.slug %}">{{ article.tag.name }}</a>
                            <a class="text-body" href="">{{ article.date }}</a>
                        </div>
                        <h1 class="mb-3 text-secondary text-uppercase font-weight-bold">{{ article.title }}</h1>
                        <p>{{ article.text }}</p>
                    </div>
                    <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle mr-2" src="{% static 'img/user.jpg' %}" width="25" height="25" alt="">
                            <span>John Doe</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="ml-3"><i class="far fa-eye mr-2"></i>{{ article.views }}</span>
                            <span class="ml-3"><i class="far fa-comment mr-2"></i>{{ article.comments }}</span>
                        </div>
                    </div>
                </div>
                <!-- News Detail End -->

                <!-- Comment List Start -->
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">{{ article.comments }} Comments</h4>
                    </div>
                    <div class="bg-white border border-top-0 p-4">
                        {% for i in comments %}
                        {% if i.1 %}
                        <div class="media">
                            <img src="/media/{{ i.0.user.image }}" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                            <div class="media-body">
                                <h6><a class="text-secondary font-weight-bold" href="">{{ i.0.user.user.username }}</a> <small><i>{{ i.0.date }}</i></small></h6>
                                <p>{{ i.0.text }}</p>
                                <button id="{{ i.0.user.user.username }}_{{ i.0 }}" class="btn btn-sm btn-outline-secondary reply-btn">Reply</button>
                                {% for c in i.1 %}
                                <div class="media mt-4">
                                    <img src="/media/{{ c.user.image }}" alt="Image" class="img-fluid mr-3 mt-1"
                                        style="width: 45px;">
                                    <div class="media-body">
                                        <h6><a class="text-secondary font-weight-bold" href="">{{ c.user.user.username }}</a> <small><i>{{ c.date }}</i></small></h6>
                                        <p>{{ c.text }}</p>
                                        <button id="{{ i.0.user.user.username }}_{{ i.0.id }}" class="btn btn-sm btn-outline-secondary reply-btn">Reply</button>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% else %}
                        <div class="media mb-4">
                            <img src="/media/{{ i.user.image }}" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                            <div class="media-body">
                                <h6><a class="text-secondary font-weight-bold" href="">{{ i.user.user.username }}</a> <small><i>{{ i.date }}</i></small></h6>
                                <p>{{ i.text }}</p>
                                <button id="{{ i.user.user.username }}_{{ i.id }}" class="btn btn-sm btn-outline-secondary reply-btn">Reply</button>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <!-- Comment List End -->

                <!-- Comment Form Start -->
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">Leave a comment</h4>
                    </div>
                    <div class="bg-white border border-top-0 p-4">
                        <form method="post">
                            {% csrf_token %}
                            <input type="text" name="reply_to" id="reply_to" hidden>
                            <div class="form-group">
                                <label for="message">Message</label>
                                <textarea maxlength="255" id="message" name="message" required cols="30" rows="5" class="form-control"></textarea>
                            </div>
                            <div class="form-group mb-0">
                                <input type="submit" value="Leave a comment"
                                    class="btn btn-primary font-weight-semi-bold py-2 px-3">
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Comment Form End -->
            </div>

            <div class="col-lg-4">
                <!-- Tags Start -->
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">Tags</h4>
                    </div>
                    <div class="bg-white border border-top-0 p-3">
                        <div class="d-flex flex-wrap m-n1">
                            {% for i in tags %}
                            {% if active_search == "" %}
                            <a id="tag_{{ i.name }}" href="{% if active_tag != i.slug %}{% url 'tag_news' i.slug %}{% else %}{% url 'news' %}{% endif %}" class="btn btn-sm btn{% if active_tag != i.slug %}-outline{% endif %}-secondary m-1">{{ i.name }}</a>
                            {% else %}
                            <a id="tag_{{ i.name }}" href="{% if active_tag != i.slug %}{% url 'tag_news' i.slug %}{% else %}{% url 'news' %}{% endif %}?q={{ active_search }}" class="btn btn-sm btn{% if active_tag != i.slug %}-outline{% endif %}-secondary m-1">{{ i.name }}</a>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- Tags End -->

                <!-- Social Follow Start -->
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">Follow Us</h4>
                    </div>
                    <div class="bg-white border border-top-0 p-3">
                        <a target="_blank" href="https://t.me/mars_it_school" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #52AAF4;">
                            <i class="fab fa-telegram text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            <span class="font-weight-medium">1,500 Followers</span>
                        </a>
                        <a target="_blank" href="https://www.instagram.com/mars_it_school/" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #C8359D;">
                            <i class="fab fa-instagram text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            <span class="font-weight-medium">30,000 Followers</span>
                        </a>
                        <a target="_blank" href="https://www.youtube.com/@marsitschool7823" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #DC472E;">
                            <i class="fab fa-youtube text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            <span class="font-weight-medium">1,500 Subscribers</span>
                        </a>
                    </div>
                </div>
                <!-- Social Follow End -->

                <!-- Popular News Start -->
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">Tranding News</h4>
                    </div>
                    <div class="bg-white border border-top-0 p-3">
                        {% for i in tranding_news %}
                        <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                            <img style="width: 110px; height: 110px; object-fit: cover;" class="img-fluid" src="/media/{{ i.image }}" alt="">
                            <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                <div class="mb-2">
                                    <button class="btn badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2">{{ i.tag }}</button>
                                    <a class="text-body" href=""><small>{{ i.date }}</small></a>
                                </div>
                                <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="{% url 'detail' i.slug %}" style="max-height: 34px; overflow-y: hidden;">{{ i.title }}</a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- Popular News End -->

                <!-- Newsletter Start -->
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">Newsletter</h4>
                    </div>
                    <div class="bg-white text-center border border-top-0 p-3">
                        <p>Aliqu justo et labore at eirmod justo sea erat diam dolor diam vero kasd</p>
                        <div class="input-group mb-2" style="width: 100%;">
                            <input type="text" class="form-control form-control-lg" placeholder="Your Email">
                            <div class="input-group-append">
                                <button class="btn btn-primary font-weight-bold px-3">Sign Up</button>
                            </div>
                        </div>
                        <small>Lorem ipsum dolor sit amet elit</small>
                    </div>
                </div>
                <!-- Newsletter End -->
            </div>
        </div>
    </div>
</div>
<script>
    let btns = document.querySelectorAll('.reply-btn')
    let input = document.querySelector('#reply_to')
    let message = document.querySelector('#message')
    btns.forEach(function (i) {
        i.addEventListener('click', function () {
            input.value = i.id
            message.value = message.value.replace(`@${i.id.split('_')[0]} `, '')
            message.value = `@${i.id.split('_')[0]} ${message.value}`
        })
    })
</script>
<!-- News With Sidebar End -->
{% endblock %}